
<form  action="/transactions/found" method="post">

  <label for="date"> View transaction for the selected month: </label>
  <input id="date" type="month" name="date" required="required">
  <input type="submit" value="Find"/>

</form>
