

<div class = start_page>
<h1><strong>iCoins</strong> powered by DavidBank</h1>
<h1>Learn how to track your expenses with <strong>iCoins</strong> and why not save some money for your dreams!</h1>
<a class="start_button" href="start">START TRACKING </a>
<!-- <img class="moneyicon" src="/images/moneybag_coins.png" alt="moneybag"> -->
</div>


<img class="coins" src="https://www.crestwood.com/wp-content/uploads/2018/07/bar-british-coins-business-50545.jpg" alt="coins">

<footer class="foot-left">
  <h3>ICoins &copy;</h3>
</footer>


<footer class="foot-right">
  <h4>By Davide Venditti</h4>
</footer>
