<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ICoins</title>
    <link rel="icon" href="/images/moneybag_coins.png"/>

    <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/styles/structure.css">
    <link rel="stylesheet" type="text/css" href="/styles/links.css">
  </head>
  <body>
    <nav>
      <a class="home_button" href="/start"><img class="home_icon" src="/images/Coin_0.png" alt="coinicon">HOME<img class="home_icon" src="/images/Coin_0.png" alt="coinicon"></a>
    </nav>
    <%= yield %>
  </body>

  <footer>
    <h1></h1>
    <!-- <img src="https://buidln.clipdealer.com/000/848/187//previews/6--848187-Hand%20and%20coins%2C%20isolated%20on%20white%20background.jpg" alt="coins"> -->
  </footer>
</html>
