





<a href="merchants"><img class="home_icon" src="/images/merchant.png" alt="coinicon">Manage your Merchants</a>
<a href="tags"><img class="home_icon" src="/images/categories.png" alt="coinicon">Manage your Spending Categories</a>
<a href="transactions"><img class="home_icon" src="/images/transactions.png" alt="coinicon">View your transacions</a>
<a href="budgets"><img class="home_icon" src="/images/budget.png" alt="coinicon">Set up a budget</a>



<img class="picture-start-page" src="https://www.heliskinz.com/wp-content/uploads/2018/01/growth-from-money.jpg?x83531" alt="coins-picture">
