



<ul class="list">

<li><a href="merchants"><img class="home_icon" src="/images/merchant.png" alt="coinicon">Manage your Merchants</a></li>
<li><a href="tags"><img class="home_icon" src="/images/categories.png" alt="coinicon">Manage your Spending Categories</a></li>
<li><a href="transactions"><img class="home_icon" src="/images/transactions.png" alt="coinicon">View your transacions</a></li>
<li><a href="budgets"><img class="home_icon" src="/images/budget.png" alt="coinicon">Set up a budget</a></li>

</ul>


<div class="box_start_page">

  <div>
    <img class="picture-start-page" src="https://www.heliskinz.com/wp-content/uploads/2018/01/growth-from-money.jpg?x83531" alt="coins-picture"><li>
  </div>

  <div>
    <ul class="list_start_page">
    <li class="list_start_page"><a href="/transactions/new"><img class="home_icon" src="/images/add.png" alt="add_icon">Add New transaction</a></li><br>
    <li class="list_start_page"><a href="/merchants/new"><img class="home_icon" src="/images/add.png" alt="add_icon">Add New Merchant</a></li><br>
    <li class="list_start_page"><a href="/tags/new"><img class="home_icon" src="/images/add.png" alt="add_icon">Add New Tag Category</a></li><br>
    </ul>
  </div>

</div>
