body {
  padding: 30px;
  font-family: 'Cinzel', serif;
  color: black;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
}

p {
  color: black;
  text-align: center;
}

.total_spend {
  color: red;

}

.picture-start-page {
  padding-top: 50px;
  width:540px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.icon_center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text_center{
  text-align: center;
}

.thanks{
  width: 1200px;
  height: auto;
}

.list {
  list-style-type: none;
  text-align: center;
}

li {
  display: inline-block;
}

.box_start_page{
  display: inline-flex;
}

.list_start_page{
  list-style-type: none;
  padding: 20px;
}
