<a href="./budgets/new"> New Budget </a>
<a href="./budgets/show_all"> Budget per Categories</a>



<h1>THIS IS YOUR TOTAL BUDGET : £  <%= '%.2f' % @tot_budgets %></h1>
<p>AT THE MOMENT <%=$result%></p>
