<h1>Define your spending by using tags that will allow you keep a track of what you spend by categories!</h1>

<a href="/tags/new">Add New Tag Category</a>

<p>Spending Categories : </p>
<%@tags.each do |tag|%>
<p> Tag :  <%= tag.type %></p>
<a href="./tags/<%= tag.id%>"> Details </a>
<a href="./tags/<%= tag.id%>/edit"> Edit </a>
<form method="post" action="/tags/<%= tag.id %>/delete">

  <input type="submit" value="Delete tag"/>

</form>


<% end %>
