<form  action="/tags" method="post">

  <label for="type"> Tag: </label>
  <input id="type" type="text" name="type" required="required" placeholder="type here">

  <input type="submit" value="Create">

</form>
